.login_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: white;
  width: 70vw;
  padding: 24px;
  border-top-width: 0;
  margin-top: -16px;
    z-index: 2;
}
.left_col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:45%;
 height: 100%;
}
.right_col {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:45%;
  height: 350px;
}

.mid_col{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:10%;
}
.sign_in_text{
  color:black;
  font-size:xx-large;
}
hr{
  width: 95px;
}
.or_segment{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width:300px;
}
.or_text{
  color: black;
  font-size: x-large;
}
.create_account_btn{
  background-color: #fcba03;
  border-width: 0;
  font-weight: bold;
}
.vl{
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  height: 350px;
  
}

p{
  line-height: 36px;
}
.login_content_container{
  background-image: linear-gradient(#bbbbb8,white);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}
.login_footer{
  height: 15vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imdb_logo_color{
  color:#f5c518;
  background-color: black;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 26px;
  height: 26px;
}
.face_logo_color{
  color:#0f90f2;
}
.amazon_logo_color{
  color:white;
  background-color: black;
  border-radius: 5px;
}
