.continer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-width: 1px;
  border-color: white;
  padding: 15px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.img_container {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
.content_title {
  color: white;
}
.content_sub_title {
  color: #b9b9b9;
}
