.title_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #f5c518;
  font-weight: bold;
  font-size: large;
  width: 66px;
  height: 52px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  cursor: pointer;
}
