.header_cont {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.vertical_line {
  height: 52px;
  border-left: 1px solid #383838;
  margin-left: 15px;
  margin-right: 5px;
}
body {
  background-color: black;
  height: 100%;
}
html {
  height: 100%;
}
