.search_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  position: relative;
  z-index: 3;
}
.select_search {
  margin: 0;
}
.select {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 52px;
  cursor: pointer;
  padding-left: 8px;
  background-color: #f5f5f5;
  font-weight: bold;
}
.input_search {
  flex-grow: 1;
}
.input_text {
  width: 100%;
  padding: 0;
  height: 48px;
  font-size: large;
  padding-left: 16px;
  outline: none;
}
.btn {
  background-color: white;
  border-width: 1px;
  border-left-width: 0;
  height: 52px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.btn_submit {
  cursor: pointer;
}

.btn_submit_click {
  cursor: wait;
}
.search_results_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  top: 42px;
  left: 0px;
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 5px;
}
