.left_col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:45%;
   height: 100%;
  }
  .sign_in_text{
    color:black;
    font-size:xx-large;
  }

  .imdb_logo_color{
    color:#f5c518;
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 26px;
    height: 26px;
  }
  .face_logo_color{
    color:#0f90f2;
  }
  .or_segment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width:300px;
  }
  .or_text{
    color: black;
    font-size: x-large;
  }

  .create_account_btn{
    background-color: #fcba03;
    border-width: 0;
    font-weight: bold;
  }

  .right_col {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:45%;
    height: 350px;
  }
  
  .mid_col{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:10%;
  }

  .vl{
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    height: 350px;
    
  }
  
  p{
    line-height: 36px;
  }
  hr{
    width: 95px;
  }
  